<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>My profile</title>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="~{layouts/header :: header}"></div>

<main class="container">
  <h1>My profile</h1>
  <p>Hi, <span sec:authentication="name" /></p>
  <form  method="post" th:action="@{/logout}">
    <button type="submit">Sign out</button>
  </form>

  <h2>Edit profile</h2>
  <form method="post" th:action="@{/user}">
    <input type="text" name="username" th:value="${user.username}" disabled></input>
    <input type="email" name="email" th:value="${user.email}" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <select name="role">
      <option th:each="role : ${roles}"
              th:value="${role}"
              th:text="${role}"
              th:selected="${user.roles.contains(role)}"></option>
    </select>
    <button type="submit">Edit</button>
  </form>
</main>
<div th:replace="~{layouts/footer :: footer}"></div>
</body>
</html>